/* gültig für die ganze Seite: Font wird zu Roboto geändert*/
* {
  font-family: 'Roboto', sans-serif;
}

/* Alles was mit Flex Container zu tun hat */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  align-items: stretch;
}

.flexbox-example {
  justify-content: space-evenly;
  aspect-ratio: 2 / 1;
  gap: 5%;
}

/* Alignment der Flex-Elemente */
.align-self-top {
  background-color: #006d77;
  width: 30%;
  aspect-ratio: 1;
  align-self: flex-start;
}

.align-self-center {
  background-color: #83c5be;
  width: 30%;
  aspect-ratio: 1;
  align-self: center;
}

.align-self-bottom {
  background-color: #edf6f9;
  width: 30%;
  aspect-ratio: 1;
  align-self: flex-end;
}

/* Design der Cards (mit kleiner Hover Animation) */
.card {
  max-width: 20rem;
  box-shadow: 0px 5px 8px 1px rgb(0, 109, 119, 0.2);
  min-height: 30vh;
  padding: 3rem;
  margin-bottom: 5%;
  transition: 0.25s;
  aspect-ratio: 5 / 9;
}
.card:hover {
  box-shadow: 0px 10px 10px 2px rgb(0, 109, 119, 0.2);
}

/* Kleine Spielerei statt ein einfaches Bild zu nutzen ^^ */
.padding-visual {
  padding: 40%;
  border: solid #006d77 10px;
}

/*To-Do*/

/* Erweitere die CSS Klasse so das:
  - der Text regular und nicht bold ist
  - der Text mittig ist
*/
.header {
  text-decoration: solid underline #006d77 7px;
  text-underline-offset: 1rem; /* Damit der Underline weiter vom Text entfernt ist :) */
  margin-bottom: 5rem;
}

/* Sorge dafür, dass das Bild 100 der verfügbaren Breite in Anspruch nimmt:
   Achte darauf, dass die Weite des Containers nicht der, des Viewports (Tabs) gleicht
*/
.image {
}

/* Sorge dafür, dass der Text bold und mit einer Schriftgröße von 1.3rem angezeigt wird */
.title {
  margin-top: 1rem;
}

/* Änder den Linieabstand (Line Height) des Card-Textes zu 1.3rem und füge einen Margin von 1rem hinzu */
.card-text {
}

/* Unterstreiche den Text / Füge einen Underline ein, mit dem Style "wavy" */
.underline {
}

/* Ändere die Schriftfarbe zu #006d77*/
.font-color {
}


.overline {
  text-decoration: overline;
}

.font-family {
  font-family: monospace;
}

.font-variant {
  font-variant: small-caps;
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-transform {
  text-transform: uppercase;
}

.border-padding {
  border: solid #006d77;
  padding: 1rem;
  margin-bottom: 1rem; /* Kleiner Styling Eingriff, um die Karte schöner zu gestalten :) */
}

.border-margin {
  border: solid #006d77;
  margin: 1rem;
}

.row {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1.5rem;
}

.col-5 {
  width: 50%;
  background-color: #006d77;
  padding: 20%;
}

.col-3 {
  width: 30%;
  background-color: #83c5be;
}

.col-2 {
  width: 20%;
  background-color: #edf6f9;
}
